<div class="registration_header">
  <div class="registration_title">Cooking diary</div>
</div>

<div class="registration_body">
  <div class="registration_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username ,"ユーザーネーム" ,class:"fieldname"%><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "email" ,class:"registration_field"%>
      </div>

      <div class="field">
        <%= f.label :email ,"メールアドレス" ,class:"fieldname"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"registration_field"%>
      </div>

      <div class="field">
        <%= f.label :password ,"パスワード" ,class:"fieldname"%>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" ,class:"registration_field"%>
      </div>

      <div class="field">
        <%= f.label :password_confirmation ,"パスワードの確認" ,class:"fieldname"%><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"registration_field"%>
      </div>

      <div class="actions">
        <%= f.submit "会員登録" ,class:"registration_btn"%>
      </div>

      <div class="to_login">
      <a href="#">ログイン</a>
      </div>
    <% end %>
  </div>
</div>
