<div class="registration_header">
  <i class="fas fa-glass-cheers fa-2x"></i>
  <div class="registration_title">Cooking diary</div>
</div>

<div class="sessions_body">
  <div class="sessions_form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email ,"メールアドレス" ,class:"fieldname"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"registration_field"%>
      </div>

      <div class="field">
        <%= f.label :password ,"パスワード" ,class:"fieldname"%><br />
        <%= f.password_field :password, autocomplete: "current-password" ,class:"registration_field"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="sessions">
        <%= f.submit "ログイン" ,class:"sessions_btn"%>
      </div>
    <% end %>
  </div>
</div>
